nav {
	height: 120px;
  width: 100%;
	background-color: #4ecdc4;
	color: #1A535C;
	padding: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav span {
	font-family: 'Bungee', cursive;
}

