/* Generate tweets here. includes a error msg container and tweet form*/
#generate-tweet {
  width: 100%;
  align-self: center;
  display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#error-msg {
	visibility: hidden;
	height: 2.5em;
	border: 2pt solid #f69a7e;
	color: #e56a77;
	font-weight: 600;
	display: flex;
	align-content: center;
}

/* Tweet form. Contains label, textarea and footer.*/
#tweet-text {
	margin-top: .5em;
	width: 100%;
	background-color: #f4f1ec;
	font-size: .7em;
	border: 0;
	border-bottom: 2pt solid #1A535C;
}

.form-footer {
	display: flex;
	justify-content: space-between;
	font-family: 'Bungee', cursive;
	font-size: 16px;
	padding-top: .5em;
}

.form-footer button {
	background-color: #07a99e;
	border: 0px;
	color: #FFFFFF;
	padding: .3em;
}