.new-tweet {
  width: 100%;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
	align-items: stretch;
	
}

textarea {
	margin-top: 5px;
	width: 100%;
	background-color: #f4f1ec;
	font-size: 14px;
	border: 0;
	border-bottom: 2pt solid #1A535C;
}

.button-output {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Bungee', cursive;
	font-size: 14px;
	padding-top:  4px;
}

button {
	background-color: #07a99e;
	border: 0px;
	color: #FFFFFF;
	padding: 2px;
}

