.new-tweet {
  width: 100%;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
}

/* Type tweet here */
.new-tweet textarea {
	margin-top: 5px;
	height: 60px;
	width: 100%;
	background-color: #f4f1ec;
	font-size: 18px;
	border: 0;
	border-bottom: 2pt solid #1A535C;
}

/* container of button and the char output */
.button-output {
	display: flex;
	/* flex-direction: row; -->it is default */
	justify-content: space-between;
	font-family: 'Bungee', cursive;
	font-size: 16px;
	padding-top: .5em;
}

/* button design */
button {
	background-color: #07a99e;
	border: 0px;
	color: #FFFFFF;
	padding: .3em;
}

/* Alert */
#error-msg {
	visibility: hidden;
	height: 2.5em;
	border: 2pt solid #f69a7e;
	color: #e56a77;
	font-weight: 600;
	display: flex;
	align-content: center;
}
